---
title: Works
layout: page
---

<!-- <main class="page-wrapper"> -->

<section class="masonry-grid">

	<div class="grid-sizer"></div>
	<div class="gutter-sizer"></div>

	{% for work in site.data.work %}

		{% if work.featured %}

			<article class="item_work featured">

				<a href="{{ work.link }}" class="image">
					<img src="{{ work.image }}" alt="" />
				</a>
			
				<div class="title">
					<h2>{{ work.title }}</h2>
					<a href="{{ work.filter }}" class="tag invert">{{ work.tag }}</a>
				</div>
			
			
			</article>
				
		
{% else %}
			<!-- {% include work-item.html %} -->

			<article class="item_work">

				<a href="{{ work.link }}" class="image">
					<img src="{{ work.image }}" alt="" />
				</a>
			
				<div class="title">
					<h2>{{ work.title }}</h2>
					<a href="{{ work.filter }}" class="tag invert">{{ work.tag }}</a>
				</div>
			
				{% endif %}
			</article>
		{% endfor %}
</section>



<!-- bar--tags -->

{% include bar-tags_work.html %}

<!-- </main> -->