<div class="bar--tags">
	<div class="inner">
		<a href="01-02-work_installation.html" class="tag">Installation</a>
		<a href="01-02-work_sculpture.html" class="tag">Sculpture</a>
		<a href="01-02-work_model.html" class="tag">Model</a>
		<a href="01-02-work_drawing.html" class="tag">Drawing</a>
		<a href="01-02-work_wall-piece.html" class="tag">Wall Piece</a>
		<a href="01-02-work_multiple.html" class="tag">Multiple</a>
		<a href="01-02-work_moving-image.html" class="tag">Moving Image</a>
		<a href="01-02-work_collage.html" class="tag">Collage</a>
		<a href="01-02-work_exercise.html" class="tag">Exercise</a>
		<a href="01-02-work_audio.html" class="tag">Audio</a>
		<a href="01-02-work_photography.html" class="tag">Photography</a>
		<a href="01-02-work_glass-work.html" class="tag">Glass Work</a>
	</div>
</div>
