<article class="item_exhibition">
	<div class="image">
		<img src="images/placeholder/landscape.jpg" alt="" />
	</div>

	<div class="title">
		<a href="03-01-exhibition_solo.html" class="tag">{{ exhibition.type }}</a>
		
		<h2>
			<a href="{{ exhibition.link }}">{{ exhibition.title }}</a>
		</h2>
		<p class="item-subline-venue">{{ exhibition.venue }}</p>
		<p class="item-subline-duration">{{ exhibition.duration }}</p>
		<!-- <a href="#" class="tag">{{exhibition.year}}</a> -->
	</div>
</article>

