<header>
	<!-- Top -->

	<a href="#" class="menu-toggle"></a>

	<a href="index.html" >
			<div class="logo">
				<div class="row-1">
				<p>S</p>
				<p>a</p>
				<p>n</p>
				<p>d</p>
				<p>r</p>
				<p>a</p>
			</div>
			
			<div class="row-2">
				<p>P</p>
				<p>e</p>
				<p>t</p>
				<p>e</p>
				<p>r</p>
				<p>s</p>
			</div>
			</div>
		</a>

	<!-- Links -->

	<div class="links">
		<a href="{{ page.toplevel}}" class="header-links">{{ page.template}}</a>
		<a href="{{ page.link }}" class="tag">{{ page.tag }}</a>
	</div>

	<!-- Sidemenu -->

	<nav>
		<a href="05-news.html"  class="nav-link">News</a>

		<article class="menu-link">
			<a href="01-work.html" class="nav-link">Work</a>
			<button class="accordionButton"></button>

			<div class="panel">
				<a href="01-02-work_installation.html" class="tag tag-menu">Installation</a>
				<a href="01-02-work_sculpture.html" class="tag tag-menu">Sculpture</a>
				<a href="01-02-work_model.html" class="tag tag-menu">Model</a>
				<a href="01-02-work_drawing.html" class="tag tag-menu">Drawing</a>
				<a href="01-02-work_wall-piece.html" class="tag tag-menu">Wall Piece</a>
				<a href="01-02-work_multiple.html" class="tag tag-menu">Multiple</a>
				<a href="01-02-work_moving-image.html" class="tag tag-menu">Moving Image</a>
				<a href="01-02-work_collage.html" class="tag tag-menu">Collage</a>
				<a href="01-02-work_exercise.html" class="tag tag-menu">Exercise</a>
				<a href="01-02-work_audio.html" class="tag tag-menu">Audio</a>
				<a href="01-02-work_photography.html" class="tag tag-menu">Photography</a>
				<a href="01-02-work_glass-work.html" class="tag tag-menu">Glass Work</a>
			</div>
		</article>

		<article class="menu-link">
			<a href="03-exhibition.html" class="nav-link">Exhibitions</a>
			<button class="accordionButton"></button>
				<div class="panel">
					<a href="03-01-exhibition_solo.html" class="tag tag-menu">Solo</a>
					<a href="03-02-exhibition_group.html" class="tag tag-menu">Group</a>
				
				</div>
			</article>

	
		<a href="04-about.html" class="nav-link">About</a>


		<article class="menu-link">
			<a href="02-media.html" class="nav-link">Media</a>
			<button class="accordionButton"></button>
			<div class="panel">
				<a href="02-media_essay.html" class="tag tag-menu">Essays</a>
				<a href="02-media_publication.html" class="tag tag-menu">Publication</a>
				<a href="02-media_writing.html" class="tag tag-menu">Writing</a>
				<a href="02-media_video.html" class="tag tag-menu">Video</a>
			</div>
		</article>

		<article class="service">
			<input type="text"/>
			<div class="service-link">
					<a href="https://www.instagram.com/sandra_peters_art/" target="blank" class="service-instagram">
					<svg width="32" height="32" xmlns="http://www.w3.org/2000/svg">
						<g transform="translate(1 1)" stroke="#131313" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
						<rect width="30" height="30" rx="5"/>
						<path d="M21.924 13.973a7 7 0 1 1-13.848 2.054 7 7 0 0 1 13.848-2.054z" />
						</g>
					</svg>
				</a>
				<a href="07-contact.html">Contact &mdash; Impressum &mdash; Privacy Policy </a>
			</div>
		</article>
	</nav>
</header>
