<!DOCTYPE html>

<html lang="{{ site.lang }}">

    <head>

        {% if page.is_home %}
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.description }}">
        {% else %}
        <title>{{ page.title }} &#8211; {{ site.title }}</title>
        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

      
        
        
        {% if site.css == 'inline' %}
        <style>
            {% capture inline-styles %}
            {% include app.scss %}
            {% endcapture %}
            {{ inline-styles | scssify }}
        </style>
        {% else %}

        <link href="https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,600,600i&display=swap" rel="stylesheet">
        <link href="/css/app.css" rel="stylesheet">
        
       
        {% endif %}
       
        <script src="{{ prepend: site.baseurl }}/js/isotope.pkgd.min.js"></script>
        <script src="{{ prepend: site.baseurl }}/js/packery-mode.pkgd.min.js"></script>

        
    </head>

    <body>
