<article class="item_publication">
	<a href="{{ media.link }}" class="image">
		<img src="{{ media.image }}" alt="" />
	</a>

	<div class="item-title">
		<a href="02-media_publication.html" class="tag">Publication</a>
		<h2>
			<a href="{{ media.link }}">{{ media.title }}</a>
		</h2>
		<p class="item-subline">
			{{ media.type }} 
			{% if media.author %}
			<span>by<span class="item-author"> {{ media.author }}</span></span>
			{% else %}
			<span> </span>
			{% endif %}
		</p>
	</div>
</article>
