<section class="scroll-wrapper">
        <article class="scroll">
            <div class="slider-container">
                <img src="images/placeholder/square.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/placeholder/landscape.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/placeholder/landscape.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/placeholder/landscape.jpg" alt="" class="slider-image" />
            </div>
        </article>
        <div class="scroll-indicator">
            <p><span>1</span> – <span>16</span></p> 
        </div>
    </section>