<section class="scroll-wrapper">
        <article class="scroll">
            <div class="slider-container">
                <img src="images/work/W_0093/W_0093_Move_00.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/work/W_0093/W_0093_Move_1a.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/work/W_0093/W_0093_Move_2a.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/work/W_0093/W_0093_Move_3a.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/work/W_0093/W_0093_Move_4a.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/work/W_0093/W_0093_Move_5a.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/work/W_0093/W_0093_Move_6a.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/work/W_0093/W_0093_Move_7a.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/work/W_0093/W_0093_Move_8a.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/work/W_0093/W_0093_Move_9a.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/work/W_0093/W_0093_Move_10a.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/work/W_0093/W_0093_Move_11a.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/work/W_0093/W_0093_Move_12.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/work/W_0093/W_0093_Move_13a.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/work/W_0093/W_0093_Move_14a.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/work/W_0093/W_0093_Move_15a.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/work/W_0093/W_0093_Move_16a.jpg" alt="" class="slider-image" />
            </div>

        </article>
        <div class="scroll-indicator">
            <p><span>1</span> – <span>16</span></p> 
        </div>
    </section>