<section class="scroll-wrapper">
        <article class="scroll">
            <div class="slider-container">
                <img src="images/work/W_0027/W_0027 Sound_Column_01.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/work/W_0027/W_0027 Sound_Column_02.jpg" alt="" class="slider-image" />
            </div>

        </article>
        <div class="scroll-indicator">
            <p><span>1</span> – <span>2</span></p> 
        </div>
    </section>