<section class="scroll-wrapper">
        <article class="scroll">
            <div class="slider-container">
                <img src="images/publication/P_0040/P_0040_01.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/publication/P_0040/P_0040_02.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/publication/P_0040/P_0040_03.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/publication/P_0040/P_0040_04.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/publication/P_0040/P_0040_05.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/publication/P_0040/P_0040_06.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/publication/P_0040/P_0040_07.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/publication/P_0040/P_0040_08.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/publication/P_0040/P_0040_09.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/publication/P_0040/P_0040_10.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/publication/P_0040/P_0040_12.jpg" alt="" class="slider-image" />
            </div>
        </article>
        <div class="scroll-indicator">
            <p><span>1</span> – <span>11</span></p> 
        </div>
    </section>