<section class="scroll-wrapper">
        <article class="scroll">
            <div class="slider-container">
                <img src="images/exhibitions/E_0004/E_0004_Sandra Peters_01.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/exhibitions/E_0004/E_0004_Sandra Peters_02.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/exhibitions/E_0004/E_0004_Sandra Peters_03.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/exhibitions/E_0004/E_0004_Sandra Peters_04.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/exhibitions/E_0004/E_0004_Sandra Peters_05.jpg" alt="" class="slider-image" />
            </div>
        </article>
        <div class="scroll-indicator">
            <p><span>1</span> – <span>5</span></p> 
        </div>
    </section>