<section class="scroll-wrapper">
        <article class="scroll">
            <div class="slider-container">
                <img src="images/publication/P_0005/P_0005_01.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/publication/P_0005/P_0005_03.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/publication/P_0005/P_0005_08.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/publication/P_0005/P_0005_12.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/publication/P_0005/P_0005_13.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/publication/P_0005/P_0005_14.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/publication/P_0005/P_0005_15.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/publication/P_0005/P_0005_17.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/publication/P_0005/P_0005_19.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/publication/P_0005/P_0005_25.jpg" alt="" class="slider-image" />
            </div>
            <div class="slider-container">
                <img src="images/publication/P_0005/P_0005_29.jpg" alt="" class="slider-image" />
            </div>
        </article>
        <div class="scroll-indicator">
            <p><span>1</span> – <span>11</span></p> 
        </div>
    </section>