

.bar--tags{
    // overflow: hidden; 

}
.bar--tags > * {
    display: flex;
    flex-wrap: wrap;
    margin: calc((1em / 2) * -1); 
}

.bar--tags > * > * {
    margin: calc(1em / 2);
    display: inline-block; 
}
